<h1>Home</h1>
<p>Hello.</p>

<h1>Posts</h1>
<p>Posts can be found in hdfhadsjfh</p>
<%= @posts.inspect %>

<h1>Skills</h1>
<p>rails, filming, video editing, photgraphy, and many more</p>
<%= @skills.inspect %>